<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title>  </title>
</head>

<body>

<header id="header">
  <div class="container">
    <div class="navbar">

      <a href="/" class="nav-branding" style="font-size: 2rem;font-weight: bold;">DEV.</a>
      
      <ul class="nav-menu">
        <!-- If user is logged in and is an admin show this -->
        <% if (typeof user !="undefined" && user && user.admin === "Yes") { %>
          <li class="nav-item">
            <a href="/admin" class="nav-link">Admin</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/auth/logout" class="nav-link">Logout</a>
          </li>
        <!-- Else show this -->
        <% } else if (typeof user !="undefined" && user && user.admin === "No") { %>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/auth/logout" class="nav-link">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
          </li>
        <% } %>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
  
</header>