<%- include("partial-views/header.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="server-message"></div>

      <h3>eCommerce management</h3>

      <br>

      <h4>Create product</h4>

      <br>      

      <form id="create-product-form">

        <div>
          <div class="input-image">
            <p><span class="browse"><i class="fa-solid fa-image"></i> Select image</span></p>
            <input type="file" class="file" accept="image/jpeg, image/png, image/jpg" required>
          </div>
          <br>
          <div class="queued-image"></div>
          <br>
          <select id="pCategory" required>
            <option selected value="">Category</option>
            <option value="shirts">Shirts</option>
            <option value="pants">Pants</option>
            <option value="sweaters">Jackets</option>
            <option value="jackets">Sweaters</option>
            <option value="shoes">Shoes</option>
            <option value="hats">Hats</option>
            <option value="accessories">Accessories</option>
            <option value="cosmetics">Cosmetics</option>
            <option value="fragrances">Fragrances</option>
            <option value="electronics">Electronics</option>
          </select>
          <br>
          <br>
          <select id="pGender" required>
            <option selected value="">Gender</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="DNA">Does not apply</option>
          </select>
          <br>
          <br>
          <input type="text" id="pBrand" maxlength="100" placeholder="Brand" value="" required>
          <br>
          <br>
          <input type="text" id="pNumber" maxlength="100" placeholder="Product number" value="" required>
          <br>
          <br>
          <input type="text" id="pName" maxlength="100" placeholder="Name" value="" required>
          <br>
          <br>
          <input type="number" id="pPrice" maxlength="100" placeholder="Price" step="any" value="" min="0" required>
          <br>
          <br>
          <input type="number" id="pDiscount" maxlength="100" placeholder="Discount (optional)" step="any" value="" min="0">
          <br>
          <br>
          <textarea id="pDescription" placeholder="Description" required></textarea>
          <br>
          <br>
          <button class="auth-btn">Create</button>
        </div>

        <div>
          <h4>Quantity on hand</h4>
          <br>
          <h5>One size</h5>
          <br>
          <input type="number" id="pQuantity_OS" min="0" placeholder="Quantity">
          <br>
          <br>
          <h5>General sizes</h5>
          <br>
          <input type="number" id="pQuantity_XS" min="0" placeholder="XS">
          <br>
          <br>
          <input type="number" id="pQuantity_S" min="0" placeholder="S">
          <br>
          <br>
          <input type="number" id="pQuantity_M" min="0" placeholder="M">
          <br>
          <br>
          <input type="number" id="pQuantity_L" min="0" placeholder="L">
          <br>
          <br>
          <input type="number" id="pQuantity_XL" min="0" placeholder="XL">
          <br>
          <br>
          <input type="number" id="pQuantity_XXL" min="0" placeholder="XXL">
          <!-- <br>
          <br>
          <h5>Hat sizes</h5>
          <br>
          <input type="number" id="6_78" placeholder="6 7/8">
          <br>
          <br>
          <input type="number" id="7" placeholder="7">
          <br>
          <br>
          <input type="number" id="7_18 " placeholder="7 1/8">
          <br>
          <br>
          <input type="number" id="7_14" placeholder="7 1/4">
          <br>
          <br>
          <input type="number" id="7_38" placeholder="7 3/8">
          <br>
          <br>
          <input type="number" id="7_12" placeholder="7 1/2">
          <br>
          <br>
          <input type="number" id="7_58" placeholder="7 5/8">
          <br>
          <br>
          <input type="number" id="7_34" placeholder="7 3/4">
          <br>
          <br>
          <input type="number" id="7_78" placeholder="7 7/8">
          <br>
          <br>
          <input type="number" id="8" placeholder="8">
          <br>
          <br>
          <input type="number" id="8_18" placeholder="8 1/8">
          <br>
          <br>
          <input type="number" id="8_14" placeholder="8 1/4"> -->
        </div>
        
      </form>

    </main>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>
  <script>
    const createProductForm = document.querySelector("#create-product-form"),
      queuedImage = document.querySelector('.queued-image'),
      inputImage = document.querySelector('.input-image'),
      input = document.querySelector('.input-image input'),
      serverMessage = document.querySelector('.server-message');

    let queuedImageArray = []

    function displayQueuedImage() {
      let images = "";
      queuedImageArray.forEach((image, index) => {
        images += `<div class="image">
                  <img src="${URL.createObjectURL(image)}" alt="image">
                  <span onclick="deleteQueuedImage(${index})">&times;</span>
                </div>`;
      })
      queuedImage.innerHTML = images;
    }

    function deleteQueuedImage(index) {
      queuedImageArray.splice(index, 1);
      displayQueuedImage();
    }

    input.addEventListener("change", () => {
      const files = input.files;
      for (let i = 0; i < files.length; i++) {
        queuedImageArray[0] = files[i]
      }
      // createProductForm.reset();
      displayQueuedImage()
    })

    createProductForm.addEventListener("submit", (e) => {
      e.preventDefault()
      sendQueuedImageToServer()
    });

    function sendQueuedImageToServer() {
      const formData = new FormData(createProductForm),
      pCategory = document.querySelector("#pCategory").value,
      pGender = document.querySelector("#pGender").value,
      pBrand = document.querySelector("#pBrand").value,
      pNumber = document.querySelector("#pNumber").value,
      pName = document.querySelector("#pName").value,
      pPrice = document.querySelector("#pPrice").value,
      pDescription = document.querySelector("#pDescription").value,
      pQuantity_OS = document.querySelector("#pQuantity_OS").value,
      pQuantity_XS = document.querySelector("#pQuantity_XS").value,
      pQuantity_S = document.querySelector("#pQuantity_S").value,
      pQuantity_M = document.querySelector("#pQuantity_M").value,
      pQuantity_L = document.querySelector("#pQuantity_L").value,
      pQuantity_XL = document.querySelector("#pQuantity_XL").value,
      pQuantity_XXL = document.querySelector("#pQuantity_XXL").value;

      formData.append("pImage", queuedImageArray[0])
      formData.append("pCategory", pCategory)
      formData.append("pGender", pGender)
      formData.append("pBrand", pBrand)
      formData.append("pNumber", pNumber)
      formData.append("pName", pName)
      formData.append("pPrice", pPrice)
      formData.append("pDescription", pDescription)
      formData.append("pQuantity_OS", pQuantity_OS)
      formData.append("pQuantity_XS", pQuantity_XS)
      formData.append("pQuantity_S", pQuantity_S)
      formData.append("pQuantity_M", pQuantity_M)
      formData.append("pQuantity_L", pQuantity_L)
      formData.append("pQuantity_XL", pQuantity_XL)
      formData.append("pQuantity_XXL", pQuantity_XXL)

      fetch("/ecommerce-management/create-product", {
        method: "POST",
        body: formData
      })

      .then(response => {
        if (response.status !== 200) throw Error(response.statusText)
        createProductForm.reset()
        queuedImage.innerHTML = ""
        serverMessage.innerHTML = response.statusText
        serverMessage.style.cssText = "background-color: #d4edda; color:#1b5e20; padding: 16px;"
      })

      .catch(error => {
        serverMessage.innerHTML = error
        serverMessage.style.cssText = "background-color: #f8d7da; color:#b71c1c; padding: 16px;"
      });

    }
  </script>

  <%- include("partial-views/footer.ejs") %>