<%- include("partials/header.ejs") %>

<div class="container">

  <div class="margin"></div>

  Dashboard

</div>

  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %></br>