<%- include("partial-views/header.ejs") %>

  <main class="main">
    <div class="container">
      <br>
      <div class="title">
        <h2>Home</h2>
      </div>
    </div>
  </main>

  <script src="/js/script.js"></script>
  
<%- include("partial-views/footer.ejs") %>