<%- include("partials/header.ejs") %>


  <div class="container">

    <div class="server-message"></div>

    <form id="login-form">
      <div class="title">
        <h2>Login</h2>
      </div>
      <div>
        <input type="text" id="email" placeholder="Email" maxlength="100" required>
      </div>
      <div id="password-container">
        <input type="password" id="password" placeholder="Password" maxlength="60" required>
      </div>
      <div id="show-password-container-login">
        <div>
          <input type="checkbox" id="show-password">
          <label for="show-password">Show password</label>
        </div>
        <div>
          <a href="/password-reset">Forgot password?</a>
        </div>
      </div>
      <div>
        <button id="login-btn">Let's go</button>
      </div>
      <div id="register-account">
        <a href="/register">Not a member? Register</a>
      </div>
    </form>

  </div>

  <script src="/js/login.js"></script>
  <script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>