<%- include("partials/header.ejs") %>


  <div class="container">

    <div class="server-message"></div>

    <form id="password-reset-form">
      <div class="title">
        <h2>Password reset</h2>
        <br>
        <p>Enter the email you signed up with and we will send you a link to reset your password</p>
      </div>
      <br>
      <div>
        <input type="email" id="email" placeholder="Email" required>
      </div>
      <div class="g-recaptcha" data-sitekey="6LfWDRYlAAAAAC8fnfXAEmP6NnbQ7o8GLuR0C008" data-theme="light"></div>
      <div>
        <button id="link-btn" type="submit">Send</button>
      </div>
    </form>

  </div>
  
  <script src="/js/password-reset.js"></script>
  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %>