<%- include("partials/header.ejs") %>

  <div class="container">
    <div class="server-message error">
      <p> <%= message %> </p>
    </div>
  </div>

  <script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %></input>