<%- include("partials/header.ejs") %>

  <div class="container">
    
    <div class="server-message"></div>

    <div class="title">
      <h2>Welcome, please sign up.</h2>
    </div>

    <div class="passport-login">
      <a href="/auth/google"><button class="auth-btn google"><i class="fa-brands fa-google"></i> Sign up with Google</button></a>
    </div>

    <div class="margin center">
      <p>Or sign up with your email address.</p>
    </div>

    <form id="register-form">
      <div>
        <input type="text" id="fName" maxlength="25" placeholder="First name"
          value="" required>
      </div>
      <div>
        <input type="text" id="lName" maxlength="25" placeholder="Last name"
          value="" required>
      </div>
      <div>
        <input type="email" id="email" maxlength="100" placeholder="Email"
          value="" required>
      </div>
      <div>
        <input type="password" id="password" maxlength="60" placeholder="Password"
          value="" required>
      </div>
      <div>
        <input type="password" id="confirm-password" maxlength="60" placeholder="Confirm password"
          required>
      </div>
      <div class="show-password-register">
        <div>
          <input type="checkbox" id="show-password">
          <label for="show-password">Show password</label>
        </div>
      </div>
      <div>
        <button class="auth-btn">Sign up</button>
      </div>
      <div id="login-account">
        <a href="/auth/login">Already a member? Log in</a>
      </div>
    </form>

    <div class="margin"></div>

  </div>

  <script src="/js/register.js"></script>
  <script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>