<%- include("partials/header.ejs") %>

  <div class="app">

    <%- include("partials/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="server-message"></div>

        <h3>eCommerce management</h3>

        <br>

        <h4>View products</h4>

        

      </main>

    <% } else { %>
      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
        <h3>eCommerce management</h3>
      
        <br>
      
        <h4>View products</h4>
      
      </main>
    <% } %>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %>