/* GLOBAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --soft-black: #343a40;
  --soft-white: #e9ecef;
  --whitesmoke: #f5f5f5;
}

body{ 
  overflow-x: hidden;
}

header{ 
  background-color: var(--soft-white);
}

label{
  color: gray; font-style: italic; font-size: 0.9rem;
}

p{ 
  line-height: 1.5;
}

a{
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
}

i { 
  color: black;
}

input{
  width: 400px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
  font-family: inherit;
}

input:focus{
  box-shadow: 0 0 5px #19194d;
  border: 1px solid #19194d;
}

input[type="radio"]{
  width: 12px;
  padding: 0;
}

input[type="radio"]:focus{
  border: none;
  box-shadow: none;
}

input[type="checkbox"]{ width: 12px;}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

button{
  border: 1px solid var(--soft-black);
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: var(--soft-black);
}

form{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table, th, td{ 
  border: 1px solid rgba(211, 211, 211, 0.5);
}

tbody tr:nth-child(even){
  background-color: whitesmoke;
}

td{
  padding: 10px; 
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

th{
  padding: 10px; 
  text-align: left;
  border: none;
}

.main{
  margin-top: 70px;
}

.container{
  max-width: 1320px;
  width: 92%;
  margin: 0 auto;
}

.title{
  width: 100%;
  height: 50px;
  text-align: center;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex span{
  margin-left: 12px;
}

.flex .fa-users,
.flex .fa-cart-shopping,
.flex .fa-envelope{
  color: var(--soft-black);
}

.flex .fa-arrow-left{
  font-size: 2rem;
  color: var(--soft-black);
}

.flex button{
  padding: 8px 10px;
}

.flex a,
.flex i{
  color: white;
}

.flex-start{
  justify-content: flex-start;
  gap: 8px;
}

.flex-start #show-modal{
  background-color: black;
  color:white;
  border: none;
}

.column {
  width: fit-content;
  gap: 25px;
  flex-direction: column;
}

.column i{
  color: var(--soft-black);
  font-size: 2.5rem;
}

.margin {
  margin: 25px 0;
}

.center{
  text-align: center;
}

/* MODAL */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  max-width: 500px;
  height: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#show-modal{
  border: 1px solid red;
  color: red;
  background-color: white;
}

#close-modal{
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* SERVER MESSAGERS */

.server-message {
  width: 100%;
  border-radius: 5px;
}

.error{
  background-color: #f8d7da;
  color: #b71c1c;
  padding: 16px;
}

.success {
  background-color: #d4edda;
  color: #1b5e20;
  padding: 16px;
}

.server-message a{
  text-decoration: underline;
  font-size: 1rem;
  color: #1b5e20;
}

/* END SERVER MESSAGES */

/* BUTTON SPINNER */

.button {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:active {
  background: var(--soft-black);
}

.button__text {
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* END GLOBAL */

/* NEWSLETTER / DELETE-ACCOUNT */

#newsletter-form,
#delete-account-box{
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group input{
  width: 100%;
}

.delete-controller{
  display: none;
}

#deselect-all-subs-btn{
  display: none;
}

/* END NEWSLETTER */


/* Header / Navbar */

#header {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.navbar{
  width: 95%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li{ list-style: none;}

.navbar a{
  font-size: 1rem;
  color: var(--soft-black);
}

.nav-branding a ,
.sidebar-nav-branding a {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-branding.active {
  visibility: hidden;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link{ 
  transition: 0.7s ease;
}

.nav-link:hover{ 
  color: gray;
}

/* DROPDOWN CODE */

.link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.3s ease-out;
  color: var(--soft-black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link p {
  font-size: 1.5rem;
}

.link i{
  color: var(--soft-black);
}

.dropdown.active > .link {
  color: var(--soft-black);
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + .70rem);
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: 1;
  width: 275px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  transition: opacity 150ms ease-in-out;
  box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: var(--soft-white);
}

.dropdown.active>.link+.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.dropdown-links .user-icon {
  color: black;
  box-shadow: 0 0 2px black;
}

.dropdown-links h3 {
  font-size: 1rem;
  font-weight: 400;
}

/* END DROPDOWN MENU */

/* SIDEMENU */
.app {
  display: flex;
}

.sidebar-menu {
  position: fixed;
  width: 264px;
  left: 0;
  min-height: 100vh;
  z-index: 1;
  padding: 20px;
  background-color: var(--soft-white);
  transition: all 0.35s ease-in-out;
  box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
}

.sidebar-menu i{
  color: var(--soft-black);
}

.sidebar-menu a{
  color: var(--soft-black);
}

/* DROP DOWN CODE */

.sidenav {
  margin-top: 30px;
}

.sidenav span {
  margin-left: 12px;
}

.sidenav a, 
.dropdown-btn {
  padding: 12px 0;
  text-decoration: none;
  color: var(--soft-black);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in;
  font-size: 1rem;
}

.sidenav a:hover, 
.sidenav .dropdown-btn:hover {
  color: #999999;
}

.dropdown-container {
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  transition: all 0.35s ease-in-out;
}

.fa-chevron-down {
  float: right;
  font-size: 0.5rem;
  padding-right: 8px;
}

.dropdown-btn:after {
  content: "\f107";
  float: right;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}

.activate:after {
  content: "\2303";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
} 

/* END DROP DOWN */

.sidebar-hamburger {
  position: absolute;
  top: 1.5%;
  right: -20%;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px 10px;
  transition: all 0.35s ease-in-out;
}

.sbar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--soft-black);
}

.content {
  margin-left: 264px;
  margin-top: 70px;
  flex-grow: 1;
  padding: 20px;
  transition: all 0.35s ease-in-out;
}

.sidebar-hamburger.active .sbar:nth-child(2) {
  opacity: 0;
}

.sidebar-hamburger.active .sbar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.sidebar-hamburger.active .sbar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.sidebar-menu.active {
  left: -264px;
  transition: all 0.35s ease-in-out;
}

.content.active {
  margin-left: 0;
}

/* END SIDE MENU */

/* INDEX.EJS */

.home-container{
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container input{ width: 400px;}

.search{ position: relative;}

.fa-search{
  font-size: 1rem;
  position: absolute;
  top: 27%;
  right: 3%;
  cursor: pointer;
  color: #a64dff;
  transition: 0.3s ease-out;
}

.fa-search:hover{ color: lightgray;}

/* LOG IN/ SIGN UP */


.show-password-signup,
.show-password-login,
.show-password-create-user{
  width: 375px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.show-password-login,
.show-password-login{
  justify-content: space-between;
}

.passport-login{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-btn{
  width: 400px;
  color: white;
  background-color: var(--soft-black);
}

.auth-btn i{
  color: white;
  margin: 0 10px;
}

.google{
  background-color: #DB4437;
  border: 1px solid #DB4437;
}

.facebook{
  background-color: #4267B2;
  border: 1px solid #4267B2;
}

.twitter{
  background-color: #1DA1F2;
  border: 1px solid #1DA1F2;
}

/* USER MANAGEMENT */

.user-management,
.add-user,
.view-users{
  width: 100%;
  display: flex;
}

.filter{
  gap: 10px;
}

.fa-arrow-left{
  font-size: 1.2rem;
}

.user-management input,
.add-user input,
.view-users input {
  width: 95%;
  padding: 10px;
  font-size: inherit;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.filter input{
  border-radius: 5px;
}

.user-management button,
.add-user button,
.view-users button {
  padding: 10px;
  font-size: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.filter button {
  border-radius: 5px;
}

.text-end{
  text-align: right;
  max-width: 250px;
}

.text-end a,
.user-management a,
.add-user a,
.view-users a {
  border-radius: 5px;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid lightgray;
}

/* FORMS */

#add-user-form,
#update-user-form,
#add-subscriber-form {
  width: 50%;
}

#compose-email-form{
  width: 50%;
  z-index: 0;
}

#add-product-form,
#edit-product-form{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

#add-user-form input[type="text"],
#add-user-form input[type="email"],
#add-product-form input[type="text"],
#add-product-form input[type="file"],
#add-product-form input[type="number"],
#add-product-form textarea,
#edit-product-form input[type="text"],
#edit-product-form input[type="file"],
#edit-product-form input[type="number"],
#edit-product-form textarea,
#add-user-form input[type="password"],
#update-user-form input[type="text"],
#update-user-form input[type="email"],
#compose-email-form input[type="text"],
#add-subscriber-form input[type="email"] {
  width: 100%;
}

#add-product-form textarea,
#edit-product-form textarea{
  border: 1px solid lightgray;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  height: 150px;
}

#add-user-form .auth-btn,
#compose-email-form .auth-btn,
#add-product-form .auth-btn,
#edit-product-form .auth-btn,
#add-subscriber-form .auth-btn,
#newsletter-form .auth-btn{
  width: 100%;
}

#update-user-form button{
  width: 100%;
}

#delete-product-form button,
#delete-user-form button{
  background-color: red;
  border: 1px solid red;
  color: white;
}

.admin-user-radios{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}

.show-password-create-user {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

/* ECOMMERCE  */

select{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  border: 1px solid #DDDDDD;
}

.input-image {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted lightgray;
  background-color: white;
  position: relative;
}

.input-image .browse {
  font-weight: bold;
  font-size: .9rem;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.queued-image {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
  border: 2px dotted lightgray;
  background-color: white;
}

.queued-image .image {
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.queued-image .image:nth-child(4n) {
  margin-right: 0;
}

.queued-image .image img {
  height: 100%;
  width: 100%;
}

.queued-image .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.queued-image .image span:hover {
  opacity: 0.8;
}

.queued-image .span--hidden {
  visibility: hidden;
}

/* VIEW PRODUCTS */

.cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: start;
}

.product-card {
  width: 100%;
  position: relative;
  background: #fafafa;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  box-shadow: 0 2px 7px #dfdfdf;
}

.product-box-wrapper {
  position: absolute;
  left: 5%;
  top: 1%;
}

input.product-box {
  transform: scale(1.5);
  box-shadow: none;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

.product-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-details .flex span{
  margin-left: 0;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 {
  /* font-weight: 500; */
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--soft-black);
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: var(--soft-black);
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#deselect-all-product-btn{
  display: none;
}


@media(max-width:1024px){
  .container {
    max-width: 100%;
  }

  #create-user-form,
  #update-user-form {
    width: 100%;
  }

  .content{
    margin-left: 0;
  }
  
}