/* DROPDOWN CODE */
.link {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    transition: 0.3s ease-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .link p {
    font-size: 1.5rem;
  }
  
  .link i{
    color: var(--soft-black);
  }
  
  .dropdown.active > .link {
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .70rem);
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    z-index: 2;
    width: 275px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    transition: opacity 150ms ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
  }
  
  .dropdown-menu a {
    color: black;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: var(--soft-white);
  }
  
  .dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .dropdown-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 1rem 1.5rem;
  }
  
  .dropdown-links .user-icon {
    color: black;
    box-shadow: 0 0 2px black;
  }
  
  .dropdown-links h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  
  /* END DROPDOWN MENU */