@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


/* GLOBAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{ 
  overflow-x: hidden;
}

header{ 
  background-color: black;
}

label{
  color: gray; font-style: italic; font-size: 0.9rem;
}

p{ 
  line-height: 1.5;
}

a{
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
}

i{ color: black;}

input{
  width: 400px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
  font-family: inherit;
}

input:focus{
  box-shadow: 0 0 5px #19194d;
  border: 1px solid #19194d;
}

input[type="radio"]{
  width: 12px;
  padding: 0;
}

input[type="radio"]:focus{
  border: none;
  box-shadow: none;
}

input[type="checkbox"]{ width: 12px;}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

button{
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: black;
}

form{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table, th, td{ 
  border: 1px solid rgba(211, 211, 211, 0.5);
}

tbody tr:nth-child(even){
  background-color: whitesmoke;
}

td{
  padding: 10px; 
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

th{
  padding: 10px; 
  text-align: left;
  border: none;
}

.main{
  margin-top: 70px;
}

.container{
  max-width: 1320px;
  width: 92%;
  margin: 0 auto;
}

.title{
  width: 100%;
  height: 50px;
  text-align: center;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex button{
  padding: 8px 10px;
}

.flex a,
.flex i{
  color: white;
}

.flex-start{
  justify-content: flex-start;
  gap: 8px;
}

.flex-start #show-modal{
  background-color: black;
  color:white;
  border: none;
}

.column {
  width: fit-content;
  gap: 25px;
  flex-direction: column;
}

.column i{
  color: #000;
  font-size: 2.5rem;
}

.margin {
  margin: 25px 0;
}

.center{
  text-align: center;
}

/* MODAL */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  max-width: 500px;
  height: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#show-modal{
  border: 1px solid red;
  color: red;
  background-color: white;
}

#close-modal{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* SERVER MESSAGERS */

.server-message {
  width: 100%;
  border-radius: 5px;
  /* margin: 25px 0; */
}

.error{
  background-color: #f8d7da;
  color: #b71c1c;
  padding: 16px;
}

.success {
  background-color: #d4edda;
  color: #1b5e20;
  padding: 16px;
}

/* END SERVER MESSAGES */

/* END GLOBAL */

/* NEWSLETTER */

#newsletter-form{
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group input{
  width: 100%;
}

.delete-controller{
  display: none;
}

/* END NEWSLETTER */

/* Header / Navbar */

#header {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar{
  width: 95%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li{ list-style: none;}

.navbar a{
  font-size: 1rem;
  color: white;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link{ transition: 0.7s ease;}

.nav-link:hover{ color: gray;}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

/* DROPDOWN CODE */

.link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.3s ease-out;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link p {
  font-size: 1.5rem;
}

.dropdown.active>.link {
  color: white;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + .70rem);
  background-color: white;
  border-radius: var(--border-radius);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: 1;
  width: 275px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease-in-out;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  border-radius: .25rem;
  color: var(--color);
  background-color: #f5f5f5;
}

.dropdown.active>.link+.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.dropdown-links .user-icon {
  color: black;
  box-shadow: 0 0 2px black;
}

.dropdown-links h3 {
  font-size: 1rem;
  font-weight: 400;
}

/* END DROPDOWN MENU */

/* INDEX.EJS */

.home-container{
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container input{ width: 400px;}

.search{ position: relative;}

.fa-search{
  font-size: 1rem;
  position: absolute;
  top: 27%;
  right: 3%;
  cursor: pointer;
  color: #a64dff;
  transition: 0.3s ease-out;
}

.fa-search:hover{ color: lightgray;}

/* LOG IN/ SIGN UP */


.show-password-signup,
.show-password-login,
.show-password-create-user{
  width: 375px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.show-password-login,
.show-password-login{
  justify-content: space-between;
}

.passport-login{
  width: 100%;
  text-align: center;
}

.auth-btn{
  width: 400px;
  color: white;
  background-color: black;
}

.auth-btn i{
  color: white;
  margin: 0 10px;
}

.google{
  background-color: #DB4437;
  border: 1px solid #DB4437;
}

/* USER MANAGEMENT */

.user-management,
.create-user,
.view-users{
  width: 100%;
  display: flex;
}

.filter{
  gap: 10px;
}

.fa-arrow-left{
  font-size: 1.2rem;
}

.user-management input,
.create-user input,
.view-users input {
  width: 95%;
  padding: 10px;
  font-size: inherit;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.filter input{
  border-radius: 5px;
}

.user-management button,
.create-user button,
.view-users button {
  padding: 10px;
  font-size: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.filter button {
  border-radius: 5px;
}

.text-end{
  text-align: right;
  max-width: 250px;
}

.text-end a,
.user-management a,
.create-user a,
.view-users a {
  border-radius: 5px;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid lightgray;
}

/* FORMS */

#create-user-form,
#update-user-form,
#create-subscriber-form {
  width: 50%;
}

#create-email-form{
  width: 50%;
  z-index: 0;
}

#create-product-form,
#edit-product-form{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

#create-user-form input[type="text"],
#create-user-form input[type="email"],
#create-product-form input[type="text"],
#create-product-form input[type="file"],
#create-product-form input[type="number"],
#create-product-form textarea,
#edit-product-form input[type="text"],
#edit-product-form input[type="file"],
#edit-product-form input[type="number"],
#edit-product-form textarea,
#create-user-form input[type="password"],
#update-user-form input[type="text"],
#update-user-form input[type="email"],
#create-email-form input[type="text"],
#create-subscriber-form input[type="email"] {
  width: 100%;
}

#create-product-form textarea,
#edit-product-form textarea{
  border: 1px solid lightgray;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  height: 150px;
}

#create-user-form .auth-btn,
#create-email-form .auth-btn,
#create-product-form .auth-btn,
#edit-product-form .auth-btn,
#create-subscriber-form .auth-btn{
  width: 100%;
}

#update-user-form button{
  width: 100%;
}

#delete-product-form button,
#delete-user-form button{
  background-color: red;
  border: 1px solid red;
  color: white;
}

/* #delete-user-form{
  padding: none;
  margin: none;
  display: inline;
} */

/* #delete-user-form button{
  outline: none;
  border: none;
  padding: 5px;
  font-size: 0.9rem;
} */

.admin-user-radios{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}

.show-password-create-user {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

/* CREATE PRODUCT */

select{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  border: 1px solid #DDDDDD;
}

.input-image {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted lightgray;
  background-color: white;
  position: relative;
}

.input-image .browse {
  font-weight: bold;
  font-size: .9rem;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.queued-image {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
  border: 2px dotted lightgray;
  background-color: white;
}

.queued-image .image {
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.queued-image .image:nth-child(4n) {
  margin-right: 0;
}

.queued-image .image img {
  height: 100%;
  width: 100%;
}

.queued-image .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.queued-image .image span:hover {
  opacity: 0.8;
}

.queued-image .span--hidden {
  visibility: hidden;
}

/* VIEW PRODUCTS */

.cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: start;
}

.card {
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .card-img{
  width: 100%;
  height: auto;
} */
 
.card-img img{
  width: 100%;
  height: auto;
}

.card-details {
  padding: 10px;
}

.card-name,
.card-price{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price {
  color: grey;
  font-size: 12px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* SIDEMENU */
.app {
  display: flex;
  margin-top: 70px;
}

.sidebar-menu {
  position: fixed;
  width: 280px;
  height: 100vh;
  /* background-color: #303641; */
  background-color: black;
  color: white;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.sidebar-menu i{
  color: white;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#menu li {
  position: relative;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid rgba(69, 74, 84, 0.7);
  padding: 0;
}

#menu ul {
  opacity: 0;
  height: 0px;
}

#menu li a,
#menu li p {
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #aaabae;
  white-space: nowrap;
  z-index: 2;
}

#menu li p {
  font-size: 0.9rem;
}

#menu li a:hover,
#menu li p:hover {
  color: #ffffff;
  background-color: #333944;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

#menu li.active>a,
#menu li.active>p {
  background-color: #2b303a;
  color: #ffffff;
}

#menu ul li {
  background-color: #2b303a;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover>ul {
  visibility: visible;
  opacity: 1;
}

#menu li li ul {
  left: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu .fa {
  margin-right: 5px;
}

.sidebar-hamburger {
  float: right;
  cursor: pointer;
  border-radius: 50%;
  background-color: #303641;
  padding: 8px 10px;
  display: none;
}

.sbar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.content {
  margin-left: 280px;
  flex-grow: 1;
  padding: 20px;
}


@media(max-width:1024px){
  .container {
    max-width: 100%;
  }

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .sidebar-hamburger{
    display: block;
  }

  .sidebar-hamburger.active .sbar:nth-child(2) {
    opacity: 0;
  }

  .sidebar-hamburger.active .sbar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .sidebar-hamburger.active .sbar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar-menu {
    left: -280px;
    transition: 0.2s linear;
  }

  .sidebar-menu.active {
    left: 0;
  }

  .content{
    margin-left: 0;
  }

    #create-user-form,
    #update-user-form {
      width: 100%;
    }
}