<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="flex">
        <a href="/newsletter-management/newsletter-views/view-subscribers"><i class="fa-solid fa-arrow-left"></i></a>
        <div>
          <button><a href="/newsletter-management/newsletter-views/view-subscribers"><i class="fa-solid fa-eye"></i> All Subscribers</a></button>
          <button><a href="/newsletter-management/newsletter-views/compose-email"><i class="fa-solid fa-envelope"></i> Compose Email</a></button>
        </div>
      </div>
      
      <br>

      <div class="flex">
        <h3><i class="fa-sharp fa-solid fa-envelope"></i><span>Newsletter -> Add Subscriber</span></h3>
      </div>
      
      <br>

      <div class="server-message"></div>

      <br>
      
      <form id="add-subscriber-form">
        <input type="email" id="nEmail" maxlength="100" placeholder="Email" value="" required>
        <button class="auth-btn button"><span class="button__text">Add</span></button>
      </form>

    </main>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/newsletter-js/add-subscriber.js"></script>

<%- include("partial-views/footer.ejs") %>