<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <h3><i class="fa-sharp fa-solid fa-envelope"></i><span>Newsletter / Compose Email</span></h3>
          <div>
            <button><a href="/newsletter-management/newsletter-views/view-subscribers"><i class="fa-solid fa-eye"></i> All Subscribers</a></button>
            <button><a href="/newsletter-management/newsletter-views/add-subscriber"><i class="fa-solid fa-plus"></i> Add Subscriber</a></button>
          </div>
        </div>

        <br>

        <div class="server-message"></div>

        <br>

        <form id="compose-email-form">
          <input type="text" id="subject" placeholder="Subject" required>
          <textarea id="message"></textarea>
          <button class="auth-btn button"><span class="button__text">Send</span></button>
        </form>
        
        
      </main>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/newsletter-js/compose-email-form.js"></script>

<%- include("partial-views/footer.ejs") %>