<%- include("partial-views/header.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="server-message"></div>

      <br>

      <div class="flex">
        <a href="/newsletter-management/newsletter-views/subscribers"><i class="fa-solid fa-arrow-left" style="font-size: 2.5rem;color: #000;"></i></a>
        <div>
          <button><a href="/newsletter-management/newsletter-views/subscribers"><i class="fa-solid fa-eye"></i> All Subscribers</a></button>
          <button><a href="/newsletter-management/newsletter-views/compose-email"><i class="fa-solid fa-envelope"></i> Compose Email</a></button>
        </div>
      </div>
      
      <br>

      <h3>Newsletter Management</h3>
      
      <br>

      <h4>Create subscriber</h4>

      <br>
      
      <form id="create-subscriber-form">
        <input type="email" id="nEmail" maxlength="100" placeholder="Email" value="" required>
        <button class="auth-btn">Create</button>
      </form>

    </main>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/create-subscriber.js"></script>

<%- include("partial-views/footer.ejs") %>