<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="flex">
        <h3><i class="fa-solid fa-users"></i><span>Users -> Add User</span></h3>
        <button><a href="/user-management/user-views/active-users"><i class="fa-solid fa-eye"></i> All Active Users</a></button>
      </div>
      
      <br>

      <div class="server-message"></div>

      <br>
      
      <form id="add-user-form">
        <input type="text" id="fName" maxlength="100" placeholder="First name" value="" required>
        <input type="text" id="lName" maxlength="100" placeholder="Last name" value="" required>
        <input type="email" id="email" maxlength="100" placeholder="Email" value="" required>
        <input type="password" id="password" maxlength="60" placeholder="Password" value="" required>
        <input type="password" id="confirm-password" maxlength="60" placeholder="Confirm password" required>
        <div class="show-password-create-user">
          <input type="checkbox" id="show-password">
          <label for="show-password">Show password</label>
        </div>
        <button class="auth-btn button"><span class="button__text">Add</span></button>
      </form>

    </main>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/user-js/add-user.js"></script>

<%- include("partial-views/footer.ejs") %>