<%- include("partial-views/header.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="server-message"></div>

      <h3>User Management</h3>
      
      <br>

      <h4>Create user</h4>

      <br>
      
      <form id="create-user-form">
        <input type="text" id="fName" maxlength="100" placeholder="First name" value="" required>
        <input type="text" id="lName" maxlength="100" placeholder="Last name" value="" required>
        <input type="email" id="email" maxlength="100" placeholder="Email" value="" required>
        <input type="password" id="password" maxlength="60" placeholder="Password" value="" required>
        <input type="password" id="confirm-password" maxlength="60" placeholder="Confirm password" required>
        <div class="show-password-create-user">
          <input type="checkbox" id="show-password">
          <label for="show-password">Show password</label>
        </div>
        <button class="auth-btn">Create</button>
      </form>

    </main>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/create-user.js"></script>

<%- include("partial-views/footer.ejs") %>