<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Indexing Verification -->

  <!-- SEO -->
  <title> <%= title %> | Modern Web Designers - Developers | Salinas, CA</title>

  <!-- <meta name="description"
    content="Web design and development services in Salinas, CA. Level up your business." />
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <link rel="canonical" href="https://www.modernwebdesigners.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Modern Web Designers - Developers | Salinas, CA" />
  <meta property="og:description"
    content="Web design and development services in Salinas, CA. Level up your business." />
  <meta property="og:url" content="https://www.modernwebdesigners.com/" />
  <meta property="og:site_name" content="Modern Web Designers - Developers | Salinas, CA" />
  <meta property="og:image" content="https://www.modernwebdesigners.com/images/logos/mwd_logo.png" />
  <meta property="og:image:secure_url" content="https://www.modernwebdesigners.com/images/logos/mwd_logo.png" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="500" />
  <meta property="og:image:alt" content="Modern Web Designers - Developers | Salinas, CA" />
  <meta property="og:image:type" content="image/png" /> -->
  
  <!-- TWITTER CARD -->
  <!-- <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@modernwebdes" />
  <meta name="twitter:title" content="Modern Web Designers" />
  <meta name="twitter:description" content="Modern Web Designers - Developers | Salinas, CA" />
  <meta name="twitter:image" content="https://www.modernwebdesigners.com/images/logos/mwd-twitter.png"/> -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/admin-styles.css">

  <!-- Font Awesome -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> -->

  <!-- favicon -->
  <!-- <link rel="icon" type="image/png" href="https://www.modernwebdesigners.com/images/logos/favicon.png"> -->

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

  <!-- Tiny Cloud API CDN -->
  <script src="https://cdn.tiny.cloud/1/w2r6xxh3evy1d8h049o8c949qa8dzlu3g1tyvt03u6nd55yk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: "#message",
      width: "100%"
    });
  </script>
  
  <!-- Google reCaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
  <!-- Schema Markup -->
  <!-- <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Web Designer",
      "name": "Modern Web Designers - Developers | Salinas, CA",
      "alternateName": "Modern Web Designers",
        "description": "Web design and development services in Salinas, CA. Level up your business.",
      "url" : "https://www.modernwebdesigners.com/",
      "logo" : "https://www.modernwebdesigners.com/images/logos/mwd_logo.png",
      "image" : "https://www.modernwebdesigners.com/images/logos/mwd_logo.png",
      "telephone": " 831-512-0461",
      "priceRange": " Free Consultation",
      "openingHours" : "Mon-Fri 08:00-13:00",
      "address":
        {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Salinas",
          "addressRegion": "CA",
          "postalCode": "93907",
          "addressCountry": "USA"
        },
      "sameAs":[
      "https://www.facebook.com/profile.php?id=100092298505856",
      "https://www.instagram.com/modernwebdesigners/",
      "https://twitter.com/modernwebdes",
      ]
    }
  </script> -->
</head>

<body>

  