<aside class="sidebar-menu">
  <div class="menu">
    <ul id="menu">
      <li id="menu-home"><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li id="menu-comunicacao"><a href="#"><i class="fa fa-users"></i><span>User Management</span><span
            class="fa fa-angle-double-right" style="float: right"></span></a>
        <ul id="menu-comunicacao-sub">
          <li id="menu-mensagens" style="width: 160px">
            <p>Search Users<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i>
            </p>
            <ul id="menu-mensagens-sub">
              <li id="menu-mensagens-enviadas"><a href="/user-management/user-views/active-users">Active Users</a></li>
              <li id="menu-mensagens-recebidas"><a href="/user-management/user-views/banned-users">Banned Users</a></li>
              <li id="menu-mensagens-nova"><a href="/user-management/user-views/deleted-users">Deleted Users</a></li>
              <li id="menu-mensagens-nova"><a href="/user-management/user-views/admin-users">Admin Users</a></li>
            </ul>
          </li>
          <li id="menu-arquivos"><a href="/user-management/user-views/create-user">Create User</a></li>
        </ul>
      </li>

      <li id="menu-comunicacao"><a href="#"><i class="fa-solid fa-cart-shopping"></i><span> eCommerce Management</span><span
            class="fa fa-angle-double-right" style="float: right"></span></a>
        <ul id="menu-comunicacao-sub">
          <li id="menu-mensagens" style="width: 160px">
            <p>Search Products<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i>
            </p>
            <ul id="menu-mensagens-sub">
              <li id="menu-mensagens-nova"><a href="/ecommerce-management/ecommerce-views/men/view-men-products">Men Products</a></li>
              <li id="menu-mensagens-nova"><a href="/ecommerce-management/ecommerce-views/women/view-women-products">Women Products</a></li>
              <li id="menu-mensagens-nova"><a href="/ecommerce-management/ecommerce-views/dna/view-electronics">DNA Products</a></li>
            </ul>
          </li>
          <li id="menu-academico-avaliacoes"><a href="/ecommerce-management/ecommerce-views/create-product">Create product</a>
          </li>
        </ul>
      </li>

      <li><a href="#"><i class="fa fa-table"></i><span>Agenda</span><span class="fa fa-angle-right"
            style="float: right"></span></a>
        <ul>
          <li><a href="#">Avaliações Agendadas</a></li>
          <li><a href="#">Faltas</a></li>
          <li><a href="#">Calendário</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-history"></i><span>Rematrícula</span></a></li>
      <li><a href="#"><i class="fa fa-gears"></i><span>Dados Cadastrais</span></a></li>
      <li><a href="#"><i class="fa fa-institution"></i><span>Instituição</span><span class="fa fa-angle-right"
            style="float: right"></span></a>
        <ul>
          <li><a href="#">Relação de Alunos</a></li>
          <li><a href="#">Relação de Professores</a></li>
          <li><a href="#">Plano de Ensino</a></li>
          <li><a href="#">Pagamentos Pendentes</a></li>
          <li><a href="#">Mapa</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>