
<aside class="sidebar-menu">
  <div class="sidebar-nav-branding">
    <a href="/" >My Admin</a>
  </div>
  <div class="sidenav">
    
    <a href="/profile-management/profile-views/profile"><i class="fa-solid fa-user"></i><span>My Account</span></a>

    <a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a>
    
    <button class="dropdown-btn"><i class="fa-solid fa-users"></i><span>Users</span>
    </button>
    <div class="dropdown-container">
      <a href="/user-management/user-views/active-users">View Active</a>
      <a href="/user-management/user-views/banned-users">View Banned</a>
      <a href="/user-management/user-views/inactive-users">View Inactive</a>
      <a href="/user-management/user-views/deleted-users">View Deleted</a>
      <a href="/user-management/user-views/admin-users">View Admin</a>
      <a href="/user-management/user-views/add-user">Add User</a>
    </div>

    <button class="dropdown-btn"><i class="fa-solid fa-cart-shopping"></i><span>Ecommerce</span>
    </button>
    <div class="dropdown-container">
      <a href="/ecommerce-management/ecommerce-views/men/view-men-products">View Men</a>
      <a href="/ecommerce-management/ecommerce-views/women/view-women-products">View Women</a>
      <a href="/ecommerce-management/ecommerce-views/dna/view-dna-products">View DNA</a>
      <a href="/ecommerce-management/ecommerce-views/add-product">Add product</a>
    </div>

    <button class="dropdown-btn"><i class="fa-sharp fa-solid fa-envelope"></i><span>Newsletter</span>
    </button>
    <div class="dropdown-container">
      <a href="/newsletter-management/newsletter-views/subscribers">View Subscribers</a>
      <a href="/newsletter-management/newsletter-views/add-subscriber">Add Subscriber</a>
      <a href="/newsletter-management/newsletter-views/compose-email">Compose Email</a>
    </div>

    <a href="/auth-management/auth-views/logout"><i class="fa-solid fa-right-from-bracket"></i><span>Log out</span></a>

  </div>
  
  <div class="sidebar-hamburger">
    <span class="sbar"></span>
    <span class="sbar"></span>
    <span class="sbar"></span>
  </div>
</aside>