
<aside class="sidebar-menu">
  <div class="sidebar-nav-branding">
    <a href="/" >My Admin</a>
  </div>
  <div class="sidenav">

    <a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a>
    
    <a href="/my-account-management/my-account-views/my-account"><i class="fa-solid fa-user"></i><span>Account</span></a>

    <button class="dropdown-btn"><i class="fa-solid fa-cart-shopping"></i><span>Ecommerce</span>
    </button>
    <div class="dropdown-container">
      <a href="/ecommerce-management/ecommerce-views/view-products/men">Men</a>
      <a href="/ecommerce-management/ecommerce-views/view-products/women">Women</a>
      <a href="/ecommerce-management/ecommerce-views/view-products/dna">DNA</a>
    </div>

    <button class="dropdown-btn"><i class="fa-sharp fa-solid fa-envelope"></i><span>Newsletter</span>
    </button>
    <div class="dropdown-container">
      <a href="/newsletter-management/newsletter-views/view-subscribers">View Subscribers</a>
      <a href="/newsletter-management/newsletter-views/add-subscriber">Add Subscriber</a>
      <a href="/newsletter-management/newsletter-views/compose-email">Compose Email</a>
    </div>

    <button class="dropdown-btn"><i class="fa-solid fa-users"></i><span>Users</span>
    </button>
    <div class="dropdown-container">
      <a href="/user-management/user-views/active">Active</a>
      <a href="/user-management/user-views/banned">Banned</a>
      <a href="/user-management/user-views/inactive">Inactive</a>
      <a href="/user-management/user-views/deleted">Deleted</a>
      <a href="/user-management/user-views/admin">Admin</a>
    </div>

    <a href="/auth-management/auth-views/logout"><i class="fa-solid fa-right-from-bracket"></i><span>Log out</span></a>

  </div>
  
  <div class="sidebar-hamburger">
    <span class="sbar"></span>
    <span class="sbar"></span>
    <span class="sbar"></span>
  </div>
</aside>