<%- include("partial-views/header.ejs") %>

  <main class="main">
    <div class="container">
      <br>
      <% if (typeof success !="undefined" && success) { %>
        <div class="server-message success">
          <p> <%= message %> </p>
        </div>
      <% } else { %>
        <div class="server-message error">
          <p> <%= message %> </p>
        </div>
      <% } %>
    </div>
  </main>

  <script src="/js/script.js"></script>

<%- include("partial-views/footer.ejs") %>