<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <main class="main">

    <div class="container">

      <br>

      <div class="server-message"></div>

      <br>

      <form id="password-reset-form">
        <div class="title">
          <h2>Password reset</h2>
          <br>
          <p>Enter the email you signed up with and we will send you a link to reset your password</p>
        </div>
        <br>
        <div>
          <input type="email" id="email" placeholder="Email" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6LckWGUmAAAAAKJpQfiNoQz7f6ne04tg75rwxv9Z" data-theme="light"></div>
        <div>
          <button class="auth-btn button"><span class="button__text">Send</span></button>
        </div>
      </form>

    </div>

  </main>
  
  <script src="/js/navbar.js"></script>
  <script src="/js/auth-js/password-reset.js"></script>

<%- include("partial-views/footer.ejs") %>