<%- include("partial-views/header.ejs") %>

  <main class="main">
    <div class="container">
      <br>
      <div class="server-message error">
        <p> <%= message %> </p>
      </div>
    </div>
  </main>

  <script src="/js/script.js"></script>

<%- include("partial-views/footer.ejs") %>